<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">

    <!-- My CSS File-->
    <link rel="stylesheet" href="../public/stylesheets/carousel.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <link rel="icon" type="image/png" href="../public/imagini/avatar.ico"/>
    <title>Shome</title>
  </head>

<body onload = "render();">
    <header>
            
        <nav id="showMe" class="navbar navbar-expand-md navbar-dark fixed-top text-dark">
            <div id="container">  
                <div id="wrapper">
                    <div id="unu">
                        
                        <div class="inner-div">
                            <a href="index.html" class="text dark-text navbar-brand text-white">
                            <i class="logo1 fas fa-store-alt"></i> 
                            Shome Store
                            </a>
                        </div>
                        <!--dropdown menu-->
                        <div id="produse">
                            <ul class="using">
                                <li class="pad"><a href="#" class="nounderline text-white"><span><b>Produse</b></span></a>
                                    <ul>
                                    <div class="sub-wrapper-produse">
                                        <div class="sub-con">
                                            <div class="sub-hol">
                                
                                                <div class="sub-l">
                                                    <h3>Chiuvete si baterii</h3>
                                                    <ul>
                                                        <li><a href="prod.html?myVar1=1">Izolatii</a></li>
                                                        <li><a href="prod.html?myVar1=2">Chiuvete</a></li>
                                                        <li><a href="prod.html?myVar1=3">Aragaz</a></li>
                                                        <li><a href="prod.html?myVar1=4">Blaturi</a></li>
                                                        <li><a href="prod.html?myVar1=5">Hote de bucatarie</a></li>
                                                        <li><a href="prod.html?myVar1=6">Accesorii</a></li>
                                                    </ul>
                                                </div>
                                                
                                                <div class="sub-m">
                                                    <h3>Totul pentru casa ta</h3>
                                                    <div class="sub-in-l">
                                                    <ul>
                                                        <li><a href="prod.html?myVar1=7">Draperii</a></li>
                                                        <li><a href="prod.html?myVar1=8">Becuri</a></li>
                                                        <li><a href="prod.html?myVar1=9">Ferestre</a></li>
                                                        <li><a href="prod.html?myVar1=10">Prelungitoare</a></li>
                                                        <li><a href="prod.html?myVar1=11">Lanterne</a></li>
                                                        <li><a href="prod.html?myVar1=12">Plafoniere</a></li>
                                                        <li><a href="prod.html?myVar1=13">Spoturi</a></li>
                                                        <li><a href="prod.html?myVar1=14">Iluminare mobila</a></li>
                                                    </ul>
                                                    </div>
                                                    
                                                <div class="sub-in-l">
                                                    <ul>
                                                        <li><a href="prod.html?myVar1=15">Parchet</a></li>
                                                        <li><a href="prod.html?myVar1=16">Faianta</a></li>
                                                        <li><a href="prod.html?myVar1=17">Gresie</a></li>
                                                        <li><a href="prod.html?myVar1=18">Covoare</a></li>
                                                        <li><a href="prod.html?myVar1=19">Usi interioare</a></li>
                                                        <li><a href="prod.html?myVar1=20">Lemn</a></li>
                                                        <li><a href="prod.html?myVar1=21">Scari</a></li>
                                                        <li><a href="prod.html?myVar1=22">Ciment</a></li>
                                                    </ul>
                                                    </div>
                                                </div>
                                                
                                                <div class="sub-r">
                                                    <h3>Unelte</h3>
                                                    <ul>
                                                        <li><a href="prod.html?myVar1=23">Cuie</a></li>
                                                        <li><a href="prod.html?myVar1=24">Suruburi</a></li>
                                                        <li><a href="prod.html?myVar1=25">Masinarii</a></li>
                                                        <li><a href="prod.html?myVar1=26">Balamale</a></li>
                                                        <li><a href="prod.html?myVar1=27">Lanturi</a></li>
                                                        <li><a href="prod.html?myVar1=28">Panouri</a></li>
                                                    </ul>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </li>	
                                </ul>	
                            </ul>
                        </div>
                        <!--dropdown menu-->
                        <div id="t-d">
                            <ul>
                                <li class="pad promo">
                                    <a href="#Promotii" class="nounderline text-white">
                                        <div class="new">Nou</div>
                                        <span><b>Promotii</b></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="blog">
                            <ul>
                                <li class="pad">
                                    <a href="blog.html" class="nounderline text-white">
                                        <span><b>Blog</b></span>
                                    </a>
                                </li>
                            <ul>
                        </div>
                        <div id="contact">
                            <ul>
                                <li class="pad">
                                    <a href="contact.html" class="nounderline text-white">
                                        <span><b>Contact</b></span>
                                    </a>
                                </li>
                            <ul>
                        </div>

                        <div id="buy" class="float-right">
                            <ul>
                                 <li class="pad">
                                    <a href="cart.html" class="nounderline text-white">
                                        <span>
                                            <i class=" text-warning fas fa-shopping-cart px-1 border-bottom "></i><b>Coș de cumpărături</b>
                                            <i style="color: lightgreen; font-size: 18px;" id="cart_n"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- <div id="log" class="float-right">
                            <ul>
                                <li class="pad">
                                    <a href="#" data-toggle="modal" data-target="#ModalCenter" class="nav-link nounderline text-dark-75">
                                        <span>
                                            <i class="far fa-user"></i><b> Logare</b>
                                            <i style="color: white;" id="cart_n"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                </div>
            </div>
        </nav>
    </header>
     
    <main role="main">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li style="z-index:102;" data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li style="z-index:102;" data-target="#myCarousel" data-slide-to="1" class="active"></li>
                <li style="z-index:102;" data-target="#myCarousel" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="imgFilter first-slide" src="../public/imagini/111.jpg" alt="1">
                    <div class="container">
                        <div class="carousel-caption text-center img1">
                            <p>
                                <a role="button" class="btn text-white newColorGreen btn-lg btn-warning" href="#">Produse</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="imgFilter second-slide" src="../public/imagini/222.jpg" alt="2">
                    <div class="container">
                        <div class="carousel-caption text-center img2">
                            <h1 class="text-white">Incredibil</h1>
                            <p>Scaunele de living îți pot aduce mai mult confort, dacă sunt alese corect, și îți pot face ziua mai frumoasă și mai plăcută. Alege un scaun de living de calitate, cu design atractiv, și te vei simți minunat!</p>
                            <p>
                                <a role="button" class="btn text-white newColorGreen btn-lg btn-warning" href="#">Produse</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="imgFilter third-slide" src="../public/imagini/333.jpg" alt="3">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>Parchet</h1>
                            <p>Gama de parchet laminat este cea mai utilizata solutie de amenajare a pardoselii. Parchetul reuseste sa imbine numeroase avantaje: pretul redus, calitatea extraordinara si usurinta montajului si a asortarii cu usile de interior. Una dintre cele mai alese nuante este cea de stejar deoarece ofera incaperii un aer cald si primitor.</p>
                            <p>
                                <a role="button" class="btn text-white newColorGreen btn-lg btn-warning" href="prod.html?myVar1=15">Produse</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
                <a style="z-index:101;" class="carousel-control-prev" role="button" data-slide="prev" href="#myCarousel">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>
                <a style="z-index:101;" class="carousel-control-next" role="button" data-slide="next" href="#myCarousel">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only"></span>
                </a>

        </div>
        <br>
        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4">
                    <i style="color: green; font-size: 10rem;" class="fas fa-id-badge"></i>
                    <h2>Despre noi</h2>
                    <p>Tot ceea ce facem are ca scop îmbunătăţirea vieţii clienţilor şi a lumii în care trăim.</p>
                    <p><a class="btn btn-warning text-white newColorGreen" href="about.html" role="button">Detalii &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <i style="color: green; font-size: 10rem;" class="fas fa-truck"></i>
                    <h2>Livrare</h2>
                    <p>Livrăm cumpărăturile realizate în magazinul online, în ziua şi intervalul orar potrivite ţie.</p>
                    <p><a class="btn btn-warning text-white newColorGreen" href="livrare.html" role="button">Consultă toate condiţiile de livrare* şi costuri aici. &raquo;</a></p>
                </div>
                <div class="col-lg-4">
                    <i style="color: yellow; font-size: 10rem;" class="fas fa-question"></i>
                    <h2>Întrebări?</h2>
                    <p>Dacă ai o sugestie sau o remarcă pentru noi, te rugăm să completezi formularul de contact</p>
                    <p><a class="btn btn-warning text-white newColorGreen" href="contact.html" role="button">Aici &raquo;</a></p>
                </div>
            </div>
            <!-- Promotii -->
                <h2 style="padding-top:70px;" id="Shome">Promotii</h2>
                <hr>
                <div class="row" id="itemdiv"></div>
                <hr class="featurette-divider">
        </div>
            <!-- Promotii -->
        <!-- <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Logare</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form autocomplete="off" id="formA" class="text-center border border-light p-5">
                        <p class="h4 mb-4">
                            Logare
                        </p>
                        <input type="email" required id="emaila" class="form-control mb-4" placeholder="Email">
                        <input type="password" required id="passworda" class="form-control mb-4" placeholder="Password">
                        <button style="color: white" type="submit" class="btn btn-warning btn-block">Submit</button>
                    </form>
                </div>
            </div>
        </div> -->

        <!-- Start testimonial -->
        <div class="site-section bg-light">
            <div class="container">
              <div class="row">
                <div class="col-lg-7">
                  <h2 class="section-heading"><strong>Testimonial</strong></h2>
                  <p class="mb-5">Câteva cuvinte despre deținătorul magazinului și clienți.</p>    
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                  <div class="testimonial-2">
                    <blockquote class="mb-4">
                      <p>"Fiecare om, fie ca locuieste la casa sau la apartament, in mediul rural sau urban, este interesat sa investeasca in locuinta lui in asa fel incat aceasta sa arate bine, sa fie un loc primitor in care se intor cu drag dupa o zi grea la locul de munca sau la cursuri."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                      <img src="../public/imagini/poza_mea.jpg" alt="Image" class="img-fluid mr-3">
                      <div class="author-name">
                        <span class="d-block">Oblu Ionut Adrian</span>
                        <span>Deținătorul magazin-ului :D</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                  <div class="testimonial-2">
                    <blockquote class="mb-4">
                      <p>"Un magazin online ale carui oferte sunt de nerefuzat in domeniul mobilierului si accesoriilor pentru casa, Shome, prezinta persoanelor interesate o selectie exhaustiva de mobila, de corpuri de iluminat, textile, decoratiuni si accesorii cu ajutorul carora isi pot transforma visul si viziunea in realitate. Gratie acestor oferte, persoanele interesate vor gasi solutii durabile."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                      <img src="../public/imagini/person_2.jpg" alt="Image" class="img-fluid mr-3">
                      <div class="author-name">
                        <span class="d-block">Ana Ifrimie</span>
                        <span>Client</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mb-4 mb-lg-0">
                  <div class="testimonial-2">
                    <blockquote class="mb-4">
                      <p>"Romanii cauta mereu cele mai bune oferte la produsele pe care urmeaza sa le cumpere. In ziua de azi, aproape nimeni nu mai cumpara daca nu beneficiaza si de un discount sau de garantia ca platesc un pret mai mic fata de in alte parti."</p>
                    </blockquote>
                    <div class="d-flex v-card align-items-center">
                      <img src="../public/imagini/person_3.jpg" alt="Image" class="img-fluid mr-3">
                      <div class="author-name">
                        <span class="d-block">Alexandra Dogaru</span>
                        <span >Client</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- Start testimonial -->
        
            <!-- start #footer -->
        <footer id="footer" class="bg-dark text-white py-5">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-md-6 col-lg-4 col-xl-6">
                        <div class="box">
                            <h4 class="font-rubik font-size-20">Despre Shome</h4>
                            <p class="font-size-14 font-rale text-white-50">Vrem să fim aproape de clienții noștri și să îi ajutăm să-și înfrumusețeze căminul cu costuri minime. Împreună construim ACASĂ... acel ACASĂ unde abia așteptăm să ne întoarcem după serviciu, unde ne dorim confort și liniste... ACASĂ unde ne bucurăm de familie și ne invităm prietenii... Te ajutăm să faci cea mai bună alegere în funcție de nevoia ta și îți venim în întampinare cu prețuri pentru toate bugetele. Zi de zi!</p>
                            <ul class="list-unstyled social">
                                <li><a href="https://www.facebook.com/ionutoblu/"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="https://github.com/adyoblu"><span class="fab fa-github"></span></a></li>
                                <li><a href="https://www.instagram.com/obluadrian/?hl=ro"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="https://www.linkedin.com/in/oblu-ionu%C8%9B-adrian-7845a682/?originalSubdomain=ro"><span class="fab fa-linkedin"></span></a></li>
                              </ul>
                        </div>
                </div>

                <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                    <h4 class="font-rubik font-size-20">Informații</h4>
                    <div class="d-flex flex-column flex-wrap">
                        <a href="about.html" class="font-rale font-size-14 text-white-50 pb-1">Despre noi</a>
                        <a href="contact.html" class="font-rale font-size-14 text-white-50 pb-1">Contact</a>
                        <a href="livrare.html" class="font-rale font-size-14 text-white-50 pb-1">Informații livrare</a>
                        <a href="date.html" class="font-rale font-size-14 text-white-50 pb-1">Politică date personale</a>
                    </div>
                </div>

                <div class="col-sm-9 col-md-6 col-lg-8 col-xl-4">
                    <form class="form-row">
                        <div class="col">
                            <div class="footer__widget">
                            <h6 class="text-white">Alatura-te pentru oferte noi!</h6>
                            <p class="text-white">Update-uri pe e-mail despre ultimele noastre oferte.</p>
                        <form>
                            <input id="mail" type="text" name="user_email" placeholder="Enter your mail">
                            <input type="button" value="Subscribe" onclick="sendEmail()" class="site-btn" />
                </div>
                </div>
            </div>
          </footer>
      <!-- !start #footer -->
    </main>
    <!-- Optional JavaScript -->
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
            <!--Gmail mails-->
            <script src="https://smtpjs.com/v3/smtp.js"></script>
            <!-- JS, Popper.js, and jQuery -->
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
            <!-- Owl Carousel Js file -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>
            <!-- Sweet alert-->
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.all.min.js"></script>

            <!-- Isotope -->
            <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
            <!-- Javascript -->
            <script language="JavaScript" type="text/javascript" src="../public/scripts/headers.js"></script>
            <script language="JavaScript" type="text/javascript" src="../public/scripts/index.js"></script>
    </body>
</html>