<!DOCTYPE html>
<html lang="en">
<head onload>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../public/imagini/avatar.ico"/>
    <title>Shome</title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body onload = "render();">

    <!-- start #header -->
        <header id="header">
            <nav id="showMe" class="navbar navbar-expand-md navbar-dark fixed-top text-dark" style="background-color: black !important;">
            <div id="container">  
                <div id="wrapper">
                    <div id="unu">
                        
                        <div class="inner-div">
                            <a href="index.html" class="text dark-text navbar-brand text-white">
                            <i class="logo1 fas fa-store-alt"></i> 
                            Shome Store
                            </a>
                        </div>
                        <!--dropdown menu-->
                        <div id="produse">
                          <ul class="using">
                              <li class="pad"><a href="#" class="nounderline text-white"><span><b>Produse</b></span></a>
                                  <ul>
                                  <div class="sub-wrapper-produse">
                                      <div class="sub-con">
                                          <div class="sub-hol">
                              
                                              <div class="sub-l">
                                                  <h3>Chiuvete si baterii</h3>
                                                  <ul>
                                                      <li><a href="prod.html?myVar1=1">Izolatii</a></li>
                                                      <li><a href="prod.html?myVar1=2">Chiuvete</a></li>
                                                      <li><a href="prod.html?myVar1=3">Aragaz</a></li>
                                                      <li><a href="prod.html?myVar1=4">Blaturi</a></li>
                                                      <li><a href="prod.html?myVar1=5">Hote de bucatarie</a></li>
                                                      <li><a href="prod.html?myVar1=6">Fotolii</a></li>
                                                  </ul>
                                              </div>
                                              
                                              <div class="sub-m">
                                                  <h3>Totul pentru casa ta</h3>
                                                  <div class="sub-in-l">
                                                  <ul>
                                                      <li><a href="prod.html?myVar1=7">Draperii</a></li>
                                                      <li><a href="prod.html?myVar1=8">Becuri</a></li>
                                                      <li><a href="prod.html?myVar1=9">Ferestre</a></li>
                                                      <li><a href="prod.html?myVar1=10">Prelungitoare</a></li>
                                                      <li><a href="prod.html?myVar1=11">Lanterne</a></li>
                                                      <li><a href="prod.html?myVar1=12">Plafoniere</a></li>
                                                      <li><a href="prod.html?myVar1=13">Spoturi</a></li>
                                                      <li><a href="prod.html?myVar1=14">Iluminare mobila</a></li>
                                                  </ul>
                                                  </div>
                                                  
                                              <div class="sub-in-l">
                                                  <ul>
                                                      <li><a href="prod.html?myVar1=15">Parchet</a></li>
                                                      <li><a href="prod.html?myVar1=16">Faianta</a></li>
                                                      <li><a href="prod.html?myVar1=17">Gresie</a></li>
                                                      <li><a href="prod.html?myVar1=18">Covoare</a></li>
                                                      <li><a href="prod.html?myVar1=19">Usi interioare</a></li>
                                                      <li><a href="prod.html?myVar1=20">Lemn</a></li>
                                                      <li><a href="prod.html?myVar1=21">Scari</a></li>
                                                      <li><a href="prod.html?myVar1=22">Ciment</a></li>
                                                  </ul>
                                                  </div>
                                              </div>
                                              
                                              <div class="sub-r">
                                                  <h3>Unelte</h3>
                                                  <ul>
                                                      <li><a href="prod.html?myVar1=23">Cuie</a></li>
                                                      <li><a href="prod.html?myVar1=24">Suruburi</a></li>
                                                      <li><a href="prod.html?myVar1=25">Masinarii</a></li>
                                                      <li><a href="prod.html?myVar1=26">Balamale</a></li>
                                                      <li><a href="prod.html?myVar1=27">Lanturi</a></li>
                                                      <li><a href="prod.html?myVar1=28">Panouri</a></li>
                                                  </ul>
                                              </div>
                                              
                                          </div>
                                      </div>
                                  </div>
                              </li>	
                              </ul>	
                          </ul>
                      </div>
                      <!--dropdown menu-->
                        <div id="blog">
                            <ul>
                                <li class="pad">
                                    <a href="blog.html" class="nounderline text-white">
                                        <span><b>Blog</b></span>
                                    </a>
                                </li>
                            <ul>
                        </div>
                        <div id="contact">
                            <ul>
                                <li class="pad">
                                    <a href="contact.html" class="nounderline text-white">
                                        <span><b>Contact</b></span>
                                    </a>
                                </li>
                            <ul>
                        </div>

                        <div id="buy" class="float-right">
                            <ul>
                                 <li class="pad">
                                    <a href="cart.html" class="nounderline text-white">
                                        <span>
                                            <i class=" text-warning fas fa-shopping-cart px-1 border-bottom "></i><b>Coș de cumpărături</b>
                                            <i style="color: lightgreen; font-size: 18px;" id="cart_n"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- <div id="log" class="float-right">
                            <ul>
                                <li class="pad">
                                    <a href="#" data-toggle="modal" data-target="#ModalCenter" class="nav-link nounderline text-dark-75">
                                        <span>
                                            <i class="far fa-user"></i><b> Logare</b>
                                            <i style="color: white;" id="cart_n"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                </div>
            </div>
        </nav>
		<br><br><br><br><br><br>
        </header>
    <!-- !start #header -->
    
    <!-- start #main-site -->
        <main id="main-site">

        <!-- produse -->
            <div class="container">
              <div id = "ceva" class="row">
                
              </div>
              <br><br><br>
            </div>
        <!-- !produse -->

          
        <!-- start #footer -->
      <footer id="footer1" class="bg-dark text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-md-6 col-lg-4 col-xl-6">
                    <div class="box">
                        <h4 class="font-rubik font-size-20">Despre Shome</h4>
                        <p class="font-size-14 font-rale text-white-50">Vrem să fim aproape de clienții noștri și să îi ajutăm să-și înfrumusețeze căminul cu costuri minime. Împreună construim ACASĂ... acel ACASĂ unde abia așteptăm să ne întoarcem după serviciu, unde ne dorim confort și liniste... ACASĂ unde ne bucurăm de familie și ne invităm prietenii... Te ajutăm să faci cea mai bună alegere în funcție de nevoia ta și îți venim în întampinare cu prețuri pentru toate bugetele. Zi de zi!</p>
                        <ul class="list-unstyled social">
                            <li><a href="https://www.facebook.com/ionutoblu/"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="https://github.com/adyoblu"><span class="fab fa-github"></span></a></li>
                            <li><a href="https://www.instagram.com/obluadrian/?hl=ro"><span class="fab fa-instagram"></span></a></li>
                            <li><a href="https://www.linkedin.com/in/oblu-ionu%C8%9B-adrian-7845a682/?originalSubdomain=ro"><span class="fab fa-linkedin"></span></a></li>
                          </ul>
                    </div>
            </div>

            <div class="col-sm-3 col-md-6 col-lg-4 col-xl-2">
                <h4 class="font-rubik font-size-20">Informații</h4>
                <div class="d-flex flex-column flex-wrap">
                    <a href="about.html" class="font-rale font-size-14 text-white-50 pb-1">Despre noi</a>
                    <a href="contact.html" class="font-rale font-size-14 text-white-50 pb-1">Contact</a>
                    <a href="livrare.html" class="font-rale font-size-14 text-white-50 pb-1">Informații livrare</a>
                    <a href="date.html" class="font-rale font-size-14 text-white-50 pb-1">Politică date personale</a>
                </div>
            </div>

            <div class="col-sm-9 col-md-6 col-lg-8 col-xl-4">
                <form class="form-row">
                    <div class="col">
                        <div class="footer__widget">
                        <h6 class="text-white">Alatura-te pentru oferte noi!</h6>
                        <p class="text-white">Update-uri pe e-mail despre ultimele noastre oferte.</p>
                    <form>
                        <input id="mail" type="text" placeholder="Enter your mail">
                        <button type="submit" onclick="sendEmail();" class="site-btn">Subscribe</button>

                    
            </div>
            </div>
        </div>
      </footer>
      <!-- !start #footer -->
        </main>
    <!-- !start #main-site -->
      </body>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Owl Carousel Js file -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>

    <!-- Sweet alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.33.1/dist/sweetalert2.all.min.js"></script>
    <!--  isotope plugin cdn  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha256-CBrpuqrMhXwcLLUd5tvQ4euBHCdh7wGlDfNz8vbu/iI=" crossorigin="anonymous"></script>

    <!-- Custom Javascript -->
    <script language="JavaScript" type="text/javascript" src="../public/scripts/headers.js"></script>
    <script language="JavaScript" type="text/javascript" src="../public/scripts/index.js"></script>

</html>